li.team-list_item {
    border-radius: 5px;
    box-shadow: #d6dce1 2px 2px 3px,#d6dce1 -1px -1px 3px;
    margin: 20px 0;
    padding: 15px;
    background-color: #fff;
}
div._item-content {
    background-color: #f8fbfd;
    border-radius: 5px;
    box-shadow: #d6dce1 1px 1px 1px,#eef5fa -1px -1px 1px;
    position: relative;
}
div._item-header {
    position: relative;
    height:109px;
    padding: 15px;
}
div._item-info-holder {
    margin-left:130px;
    padding: 0 15px;
    height: 0;
    transition-property: height;
    transition-duration: 0.5s;
}
div._item-content.active div._item-info-holder {
    padding: 15px;
    height: 225px;
    transition-property: height;
    transition-duration: 0.5s;
}
div._item-image {
    width:75px;
    height:75px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index:5;
}
div._item-image > img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}
div._item-header-text {
    margin-left:130px;
    padding:11px 15px;
    background-color: #fff;
    border:solid 1px transparent;
    border-radius: 5px;
    box-shadow: #d6dce1 1px 1px 1px, #eef5fa -1px -1px 1px;
}
div._item-header-text>p:nth-child(1){
    font-weight: bold;
    margin-bottom:5px;
    font-size: 25px;
    font-family: 'Caveat', cursive;
}
span._item-header-arrow {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    right: 25px;
    transition-duration: 0.8s;
    transform: rotate(0deg);
    z-index: 5;
}
div._item-content.active span._item-header-arrow{
    transition-property: transform;
    transition-duration: 0.8s;
    transform: rotate(-180deg);
}
span._item-header-arrow img {
    width: 100%;
    height: auto;
    margin: auto;
}
span._item-header-arrow img:hover {
    cursor: pointer;
}
div._item-info-inner > div:not(._item-info-line) {
    height: 0;
    opacity:0;
    background: #fff;
    padding-left:15px;
}
div._item-content.active div._item-info-inner > div:not(._item-info-line){
    transition-property: height,opacity;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    height: auto;
    opacity:1;
    margin: 10px 0;
    box-shadow: #d6dce1 1px 1px 1px, #eef5fa -1px -1px 1px;
}
div._item-info-line {
    background-color: #dde3e8;
    height:1px;
    margin-bottom: 25px;
    box-shadow:0 2px 3px #dde3e8;
}
div._item-info-inner > div.elem-holder_3 {
    position: relative;
    height:0;
    box-shadow: none!important;
    background: transparent;
}
div._item-content.active div._item-info-inner > div.elem-holder_3 {
    height:35px;
    margin: 30px 0 0;
}
div.elem-holder_3 > button {
    position: absolute;
    top:0;
    padding: 10px 15px;
    border: none;
    outline: none;
    text-align: center;
    background-image: linear-gradient(90deg,#011f4b ,#03396c,#005b96, #6497b1);
    color: #b3cde0;
    border-radius: 20px;
}
._item-link {
    color: #b3cde0;
    text-decoration: none;
}
div.elem-holder_3 > button:active {
    box-shadow: inset 0 0 4px #c9dce9;
}
div.elem-holder_3 > button:nth-child(1) {
    right:120px;
}
div.elem-holder_3 > button:nth-child(2) {
    right: 0;
}
span.icon-mobile, span.icon-email1, span.icon-home, span.icon-perm_contact_calendar {
    color: #03396c;
}