div.addForm-holder {
    padding: 0 15px;
    margin:0;
    border-radius: 5px;
    box-shadow: #d6dce1 2px 2px 3px,#d6dce1 -1px -1px 3px;
    background-color: #fff;
    height: 0;
    opacity:0;
    transition: height 0.8s,opacity 0.3s 0.3s,margin 0.8s,padding 0.8s;
}
div.addForm-holder.active {
    margin: 20px 0 40px;
    padding:15px;
    height: 360px;
    opacity:1;
    transition-property: height,margin,padding;
    transition-duration: 0.8s;
}
div.addForm-holder.active > form {
    padding: 15px;
    opacity:1;
    height:330px;
    transition: height 0.8s,padding 0.8s;
}
div.addForm-holder > form {
    background-color: #f8fbfd;
    border-radius: 5px;
    box-shadow: #d6dce1 1px 1px 1px,#eef5fa -1px -1px 1px;
    opacity:0;
    height:0;
    padding:0 15px;
    transition: height 0.8s, padding 0.8s;
}

div.labels-holder {
    height:0;
    padding:0 10px;
    border-radius: 5px;
    box-shadow: #d6dce1 1px 1px 1px, #eef5fa -1px -1px 1px;
    transition: height 0.8s;
}
div.addForm-holder.active div.labels-holder{
    height: 235px;
    padding: 10px;
    transition: height 0.8s,padding 0.8s;
}
div.labels-holder > label {
    display: block;
    margin:5px;
    position: relative;
    height: 25px;
    opacity:0;
}
div.addForm-holder.active > form > div.labels-holder >label {
    opacity: 1;
    transition: opacity 0.5s 1s;
}
div.labels-holder > label > div {
    position: absolute;
    top:0;
    bottom:0;
    left: 130px;
    /*width:70%;*/
    min-width: 450px;
    border-bottom: dashed 1px #c1cad0;
    background-color: transparent;

}
div.labels-holder > label > div > input {
    outline:none;
    border: none;
    background-color: transparent;
    padding-left:30px;
    width: 100%;
    height:100%;
}
div.labels-holder > label:nth-child(1) > div> input{
    background: url("../../img/SVG/account_circle.svg") no-repeat;
}
div.labels-holder > label:nth-child(2) > div> input{
    background: url("../../img/SVG/perm_contact_calendar.svg") no-repeat;
}
div.labels-holder > label:nth-child(3) > div> input{
    background: url("../../img/SVG/phone_iphone.svg") no-repeat;
}
div.labels-holder > label:nth-child(4) > div > input {
    background: url("../../img/SVG/email1.svg") no-repeat;
}
div.labels-holder > label:nth-child(5) > div > input{
    background: url("../../img/SVG/home.svg") no-repeat;
}
div.labels-holder > label:nth-child(6) > div > input{
    background: url("../../img/SVG/schedule2.svg") no-repeat;
}
div.elem-holder_2 {
    position: relative;
    height:35px;
    margin:30px 0 0;
    opacity:0;
}
div.addForm-holder.active > form >div.elem-holder_2{
    opacity: 1;
    transition: opacity 0.5s 1s;
}
div.elem-holder_2 > button {
    position: absolute;
    top:0;
    padding: 10px 15px;
    border: none;
    outline: none;
    text-align: center;
    background-image: linear-gradient(90deg,#011f4b ,#03396c,#005b96, #6497b1);
    color: #b3cde0;
    border-radius: 20px;
}
div.elem-holder_2 > button:active {
    box-shadow: inset 0 0 4px #c9dce9;
}
div.elem-holder_2 > button:nth-child(1) {
    right: 120px;
}
div.elem-holder_2 > button:nth-child(2){
    right:0;
}
span.addForm-error {
    position: absolute;
    left:590px;
    top:5px;
    color:#6d0000;
    font-size: 12px;
}