div.loading{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:75px;
    height:75px;
}
div.loading > img{
    width: 100%;
    height:100%;
}
ul.current-list, ul.completed-list {
    list-style-type: none;
}
div.elem-holder_5 {
    position: relative;
    height: 135px;
    margin-bottom:40px;
}
input.search, button.add-button,div.addProject-block {
    position: absolute;
}
input.search {
    left: 0;
    top:0;
    border-radius: 5px;
    background: transparent url("../../img/SVG/magnifier1.svg") no-repeat;
    border: solid 1px #c1cad0;
    width: 250px;
    height: 35px;
    padding-left: 40px;
    outline: none;
}
div.elem-holder_5 > button.add-button {
    right: 0;
    top:85px;
    padding: 10px 15px;
    border: none;
    outline: none;
    text-align: center;
    background-image: linear-gradient(90deg,#011f4b ,#03396c,#005b96, #6497b1);
    color: #b3cde0;
    border-radius: 20px;
}
button.add-button:active {
    box-shadow: inset 0 0 4px #c9dce9;
}
div.addProject-block {
    bottom:0;
    left:0;
    right:180px;
    height:70px;
    border-radius: 5px;
    box-shadow: #d6dce1 2px 2px 3px,#d6dce1 -1px -1px 3px;
    /*margin: 20px 0;*/
    padding: 15px;
    background-color: #fff;
}
div.addProject-block>div{
    background-color: #f8fbfd;
    border-radius: 5px;
    box-shadow: #d6dce1 1px 1px 1px,#eef5fa -1px -1px 1px;
    height:100%;
    padding:5px 15px 10px;
}
div.addProject-block>div>div{
    height:100%;
    border-bottom:solid 1px #dde3e8;
}
div.addProject-block input{
    height:100%;
    width:100%;
    border:none;
    outline: none;
    background: transparent;
    padding-left:10px;
}
div.projects-title {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Caveat', cursive;
}